<!doctype html>
<html>
  <head>
    <title>users_interests</title>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p>
        There are <%= count_users %> users and <%= count_interests %> interests.
      </p>
    </footer>
  </body>
</html>
